@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* =======================================================
*
* 	Template Style 
*
* ======================================================= */
body {
  font-family: "Droid Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  background: #fff;
}

#page {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

a {
  color: #FF5126;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
a:hover, a:active, a:focus {
  color: #FF5126;
  outline: none;
  text-decoration: none;
}

p {
  margin-bottom: 20px;
}

.ubea-container {
  max-width: 1140px;
  position: relative;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.ubea-nav {
  position: fixed;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  padding: 20px 0;
  z-index: 1001;
  background: #fff;
  webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
}

.ubea-nav #ubea-logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: bold;
}

.ubea-nav a {
  padding: 0px 10px;
  color: #000;
}

.ubea-section {
  padding: 2em 0;
  clear: both;
  position: relative;
}

.ubea-heading.ubea-heading-sm {
  margin-bottom: 2em;
}
.ubea-heading h2 {
  font-size: 34px;
  margin-bottom: 20px;
  line-height: 1.5;
  font-weight: bold;
  color: #000;
  position: relative;
  padding-bottom: 10px;
}

.ubea-heading h2:before {
  position: absolute;
  bottom: 0;
  content: "";
  width: 50px;
  margin-left: -25px;
  height: 2px;
  left: 50%;
  background: #FF5126;
}
.ubea-heading h2.ubea-left:before {
  left: 0;
  margin-left: 0;
}
.ubea-heading p {
  font-size: 20px;
  line-height: 1.5;
  color: #1a1a1a;
}

#ubea-hero {
  min-height: 700px;
  background: #fff url(../images/loader.gif) no-repeat center center;
}

#ubea-hero .flexslider {
  border: none;
  z-index: 1;
  margin-bottom: 0;
}

#ubea-hero .flexslider .slides li {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 700px;
  position: relative;
}

#ubea-hero .flexslider .slides li .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
}

#ubea-hero .flexslider .slider-text {
  display: table;
  opacity: 0;
  min-height: 700px;
}

#ubea-hero .flexslider .slider-text > .slider-text-inner {
  display: table-cell;
  vertical-align: middle;
  min-height: 700px;
}

#ubea-hero .flexslider .slider-text > .slider-text-inner h2 {
  font-size: 60px;
  font-weight: 300;
  color: #fff;
}

